<ion-view view-title="Datos">
  <ion-content>
    <div class="card" style="border-radius: 15px"><center><h1>
    	
    		<img src="img/data.png" style="height: 150px; width: 150px; border-radius: 25px;">
    	
    	<div class="card">
    	Joaquín Omar Pérez
    	</div></h1>
        <h4>
    	<div class="card">
    	Github:<br><a href=" https://github.com/PerezJoaquin"> https://github.com/PerezJoaquin</a><br>
    	</div>
    	<div class="card">
    		Joaquin.Omar96@gmail.com
    	</div>
        </h4>
    </center></div>
  </ion-content>
</ion-view>
